@page "/mb/create"
@inject IMbService MbService
@inject IPartsService PartsService
@inject IJSRuntime js
@inject NavigationManager navManager
@using Newtonsoft.Json
@using RepairBase.Models.VM
@rendermode InteractiveServer
<h3>Create Matherboard</h3>
<EditForm Model="mbPartsVM" OnValidSubmit="HandleMbCreate">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="row">
        <div class="col-4">
            <div class="form-group row p-1">
                <div class="col-6">
                    <label for="Comment">Brand</label>
                </div>
                <div class="col-6">
                    <InputText @bind-Value="mbPartsVM.Mb.Brand" class="form-control"></InputText>
                    <ValidationMessage For="@(() => mbPartsVM.Mb.Brand)" />
                </div>
            </div>
            <div class="form-group row p-1">
                <div class="col-6">
                    <label for="Comment">Part Number</label>
                </div>
                <div class="col-6">
                    <InputText @bind-Value="mbPartsVM.Mb.PN" class="form-control"></InputText>
                    <ValidationMessage For="@(() => mbPartsVM.Mb.PN)" />
                </div>
            </div>
            <div class="form-group row p-1">
                <div class="col-6">
                    <label for="Comment">Compatible Part Number</label>
                </div>
                <div class="col-6">
                    <InputText @bind-Value="mbPartsVM.Mb.CompatiblePN" class="form-control"></InputText>
                    <ValidationMessage For="@(() => mbPartsVM.Mb.CompatiblePN)" />
                </div>
            </div>
            <div class="form-group row p-1">
                <div class="col-6">
                    <label for="Comment">Parts for test</label>
                </div>
                <div class="col-6">
                    <InputText @bind-Value="mbPartsVM.Mb.Parts4test" class="form-control"></InputText>
                    <ValidationMessage For="@(() => mbPartsVM.Mb.Parts4test)" />
                </div>
            </div>
            <div class="form-group row p-1">
                <div class="col-6">
                    <label for="mbPartsVM.mb.How2start">How does it start</label>
                </div>
                <div class="col-6">
                    <InputText @bind-Value="mbPartsVM.Mb.How2start" class="form-control"></InputText>
                    <ValidationMessage For="@(() => mbPartsVM.Mb.How2start)" />
                </div>
            </div>
            <div class="form-group row p-1">
                <div class="col-6">
                    <label for="Comment">RAM type</label>
                </div>
                <div class="col-6">
                    <InputText @bind-Value="mbPartsVM.Mb.RAMtype" class="form-control"></InputText>
                    <ValidationMessage For="@(() => mbPartsVM.Mb.RAMtype)" />
                </div>
            </div>
            <div class="form-group row p-1">
                <div class="col-6">
                    <label for="Comment">RAM speed</label>
                </div>
                <div class="col-6">
                    <InputNumber @bind-Value="mbPartsVM.Mb.RAMspeed" class="form-control"></InputNumber>
                    <ValidationMessage For="@(() => mbPartsVM.Mb.RAMspeed)" />
                </div>
            </div>
            <div class="form-group row p-1">
                <div class="col-6">
                    <label for="Comment">RAM slots</label>
                </div>
                <div class="col-6">
                    <InputText @bind-Value="mbPartsVM.Mb.RAMslot" class="form-control"></InputText>
                    <ValidationMessage For="@(() => mbPartsVM.Mb.RAMslot)" />
                </div>
            </div>

            <div class="form-group row p-1">
                <div class="col-6">
                    <label for="Comment">Builtin SSD</label>
                </div>
                <div class="col-6">
                    <InputCheckbox @bind-Value="@mbPartsVM.Mb.BuiltinSSD"></InputCheckbox>
                </div>
            </div>
            <div class="form-group row p-1">
                <div class="col-6">
                    <label for="Comment">Post</label>
                </div>
                <div class="col-6">
                    <InputCheckbox @bind-Value="@mbPartsVM.Mb.Post"></InputCheckbox>
                </div>
            </div>
            <div class="form-group row p-1">
                <div class="col-6">
                    <label for="Comment">Video</label>
                </div>
                <div class="col-6">
                    <InputText @bind-Value="mbPartsVM.Mb.Video" class="form-control"></InputText>
                    <ValidationMessage For="@(() => mbPartsVM.Mb.Video)" />
                </div>
            </div>
            <div class="form-group row p-1">
                <div class="col-6">
                    <label for="Comment">Video Info</label>
                </div>
                <div class="col-6">
                    <InputText @bind-Value="mbPartsVM.Mb.VideoInfo" class="form-control"></InputText>
                    <ValidationMessage For="@(() => mbPartsVM.Mb.VideoInfo)" />
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group row p-1">
                <div class="col-6">
                    <label for="Comment">Video source located</label>
                </div>
                <div class="col-6">
                    <InputSelect @bind-Value="mbPartsVM.StrVideoSrcLocated" class="form-select" id="author" size="8">
                        <option value="" disabled="disabled">-- Select Video Source located --</option>
                        @foreach (var value in Enum.GetValues<VideoSrcType>())
                        {
                            <option value="@value">@value</option>
                        }
                    </InputSelect>

                </div>
            </div>
            <div class="form-group row p-1">
                <div class="col-6">
                    <label for="Tester_time">OS</label>
                </div>
                <div class="col-6">
                    <InputSelect @bind-Value="mbPartsVM.Mb.OS" class="form-select" id="author">
                        <option value="" disabled="disabled">-- Select OS Type --</option>
                        @foreach (var value in Enum.GetValues<OStype>())
                        {
                            <option value="@value">@value</option>
                        }
                    </InputSelect>
                </div>
            </div>

            <div class="form-group row p-1">
                <div class="col-6">
                    <label for="Comment">Adapter Brand</label>
                </div>
                <div class="col-6">
                    <InputText @bind-Value="mbPartsVM.Mb.AdapterBrand" class="form-control"></InputText>
                    <ValidationMessage For="@(() => mbPartsVM.Mb.AdapterBrand)" />
                </div>
            </div>
            <div class="form-group row p-1">
                <div class="col-6">
                    <label for="Comment">Adapter Wattage</label>
                </div>
                <div class="col-6">
                    <InputText @bind-Value="mbPartsVM.Mb.AdapterWattage" class="form-control"></InputText>
                    <ValidationMessage For="@(() => mbPartsVM.Mb.AdapterWattage)" />
                </div>
            </div>
            <div class="form-group row p-1">
                <div class="col-6">
                    <label for="Comment">Adapter P/N</label>
                </div>
                <div class="col-6">
                    <InputText @bind-Value="mbPartsVM.Mb.AdapterPN" class="form-control"></InputText>
                    <ValidationMessage For="@(() => mbPartsVM.Mb.AdapterPN)" />
                </div>
            </div>
            <div class="form-group row p-1">
                <div class="col-6">
                    <label for="Comment">Power Adapter Type Thru</label>
                </div>
                <div class="col-6">
                    <InputText @bind-Value="mbPartsVM.Mb.PowerAdapterType" class="form-control"></InputText>
                    <ValidationMessage For="@(() => mbPartsVM.Mb.PowerAdapterType)" />
                </div>
            </div>
            <div class="form-group row p-1">
                <div class="col-6">
                    <label for="Comment"></label>
                </div>
                <div class="col-6">
                    <InputText @bind-Value="mbPartsVM.Mb.Video" class="form-control"></InputText>
                    <ValidationMessage For="@(() => mbPartsVM.Mb.Video)" />
                </div>
            </div>
            <div class="form-group row p-1">
                <div class="col-6">
                    <label for="Comment">Repair Info</label>
                </div>
                <div class="col-6">
                    <InputTextArea @bind-Value="mbPartsVM.Mb.RepairInfo" class="form-control"></InputTextArea>
                    <ValidationMessage For="@(() => mbPartsVM.Mb.RepairInfo)" />
                </div>
            </div>
            <div class="form-group row p-1">
                <div class="col-6">
                    <label for="CreateT">Date Added</label>
                </div>
                <div class="col-6">
                    <InputDate @bind-Value="mbPartsVM.Mb.DateAdded" class="form-control"></InputDate>
                    <ValidationMessage For="@(() => mbPartsVM.Mb.DateAdded)" />
                </div>
            </div>
            <div class="form-group row p-1">
                <div class="col-6">
                    <label for="CreateT">User Added</label>
                </div>
            </div>


        </div>
        <div class="col-3 offset-1">
            <div class="form-group row p-1">
                <div class="row">
                    <label for="parts" style="font-weight:bold">Parts IDs</label>
                </div>
                <div class="row">
                    <InputSelect @bind-Value="mbPartsVM.PartsIds" class="form-select" id="author" size="@partsSize">
                        <option value="" disabled="disabled">-- Select Parts --</option>
                        @foreach (var value in arrParts)
                        {
                            <option value="@value.Id">@value.PN</option>
                        }
                    </InputSelect>
                </div>
            </div>
        </div>
    </div>

    <br />

    <button class="btn btn-primary" type="submit">
        <span class="oi oi-pencil"></span>
        Create Matherbord
    </button>
    <button @onclick="BackToList" class="btn btn-outline-secondary">
        <span class="oi oi-media-skip-backward"></span>
        Back To List
    </button>

</EditForm>
@*@if (mbPartsVM.strVideoSrcLocated.Length > 0)
{
    <div style="display:none">@string.Join(", ", mbPartsVM.strVideoSrcLocated)</div>
}*@

@code {
    private MbPartsVM mbPartsVM { get; set; } = new();
    private int partsSize { get; set; }
    private Parts[] arrParts { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        List<Parts> PartsList = await PartsService.Get();
        partsSize = (PartsList.Count + 1) < 30 ? (PartsList.Count + 1) : 30;
        arrParts = PartsList.ToArray();
        mbPartsVM.Mb.DateAdded = DateTime.Today;
    }

    private async Task HandleMbCreate()
    {
        mbPartsVM.Mb.VideoSrcLocated = JsonConvert.SerializeObject(mbPartsVM.StrVideoSrcLocated);
        BackToList();
        var response = await MbService.Create(mbPartsVM.Mb);
        if (response.Success)
        {
            BackToList();
        }
    }
    private void BackToList()
    {
        navManager.NavigateTo("/mb/");
    }
}
