@page "/mb/create"
@inject IMbService MbService
@inject IPartsService PartsService
@inject IJSRuntime js
@inject NavigationManager navManager
@using Newtonsoft.Json
@using RepairBase.Models.VM
@rendermode InteractiveServer
<h3>Create Matherboard</h3>
<EditForm Model="mbPartsVM" OnValidSubmit="HandleMbCreate">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="row">
        <div class="col-4">
            <div class="form-group row p-1">
                <div class="col-6">
                    <label for="Comment">Brand</label>
                </div>
                <div class="col-6">
                    <InputText @bind-Value="mbPartsVM.mb.Brand" class="form-control"></InputText>
                    <ValidationMessage For="@(() => mbPartsVM.mb.Brand)" />
                </div>
            </div>
            <div class="form-group row p-1">
                <div class="col-6">
                    <label for="Comment">Part Number</label>
                </div>
                <div class="col-6">
                    <InputText @bind-Value="mbPartsVM.mb.PN" class="form-control"></InputText>
                    <ValidationMessage For="@(() => mbPartsVM.mb.PN)" />
                </div>
            </div>
            <div class="form-group row p-1">
                <div class="col-6">
                    <label for="Comment">Compatible Part Number</label>
                </div>
                <div class="col-6">
                    <InputText @bind-Value="mbPartsVM.mb.CompatiblePN" class="form-control"></InputText>
                    <ValidationMessage For="@(() => mbPartsVM.mb.CompatiblePN)" />
                </div>
            </div>
            <div class="form-group row p-1">
                <div class="col-6">
                    <label for="Comment">Parts for test</label>
                </div>
                <div class="col-6">
                    <InputText @bind-Value="mbPartsVM.mb.Parts4test" class="form-control"></InputText>
                    <ValidationMessage For="@(() => mbPartsVM.mb.Parts4test)" />
                </div>
            </div>
            <div class="form-group row p-1">
                <div class="col-6">
                    <label for="mbPartsVM.mb.How2start">How does it start</label>
                </div>
                <div class="col-6">
                    <InputText @bind-Value="mbPartsVM.mb.How2start" class="form-control"></InputText>
                    <ValidationMessage For="@(() => mbPartsVM.mb.How2start)" />
                </div>
            </div>
            <div class="form-group row p-1">
                <div class="col-6">
                    <label for="Comment">RAM type</label>
                </div>
                <div class="col-6">
                    <InputText @bind-Value="mbPartsVM.mb.RAMtype" class="form-control"></InputText>
                    <ValidationMessage For="@(() => mbPartsVM.mb.RAMtype)" />
                </div>
            </div>
            <div class="form-group row p-1">
                <div class="col-6">
                    <label for="Comment">RAM speed</label>
                </div>
                <div class="col-6">
                    <InputNumber @bind-Value="mbPartsVM.mb.RAMspeed" class="form-control"></InputNumber>
                    <ValidationMessage For="@(() => mbPartsVM.mb.RAMspeed)" />
                </div>
            </div>
            <div class="form-group row p-1">
                <div class="col-6">
                    <label for="Comment">RAM slots</label>
                </div>
                <div class="col-6">
                    <InputText @bind-Value="mbPartsVM.mb.RAMslot" class="form-control"></InputText>
                    <ValidationMessage For="@(() => mbPartsVM.mb.RAMslot)" />
                </div>
            </div>

            <div class="form-group row p-1">
                <div class="col-6">
                    <label for="Comment">Builtin SSD</label>
                </div>
                <div class="col-6">
                    <InputCheckbox @bind-Value="@mbPartsVM.mb.BuiltinSSD"></InputCheckbox>
                </div>
            </div>
            <div class="form-group row p-1">
                <div class="col-6">
                    <label for="Comment">Post</label>
                </div>
                <div class="col-6">
                    <InputCheckbox @bind-Value="@mbPartsVM.mb.Post"></InputCheckbox>
                </div>
            </div>
            <div class="form-group row p-1">
                <div class="col-6">
                    <label for="Comment">Video</label>
                </div>
                <div class="col-6">
                    <InputText @bind-Value="mbPartsVM.mb.Video" class="form-control"></InputText>
                    <ValidationMessage For="@(() => mbPartsVM.mb.Video)" />
                </div>
            </div>
            <div class="form-group row p-1">
                <div class="col-6">
                    <label for="Comment">Video Info</label>
                </div>
                <div class="col-6">
                    <InputText @bind-Value="mbPartsVM.mb.VideoInfo" class="form-control"></InputText>
                    <ValidationMessage For="@(() => mbPartsVM.mb.VideoInfo)" />
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group row p-1">
                <div class="col-6">
                    <label for="Comment">Video source located</label>
                </div>
                <div class="col-6">
                    <InputSelect @bind-Value="mbPartsVM.strVideoSrcLocated" class="form-select" id="author" size="8">
                        <option value="" disabled="disabled">-- Select Video Source located --</option>
                        @foreach (var value in Enum.GetValues<VideoSrcType>())
                        {
                            <option value="@value">@value</option>
                        }
                    </InputSelect>

                </div>
            </div>
            <div class="form-group row p-1">
                <div class="col-6">
                    <label for="Tester_time">OS</label>
                </div>
                <div class="col-6">
                    <InputSelect @bind-Value="mbPartsVM.mb.OS" class="form-select" id="author">
                        <option value="" disabled="disabled">-- Select OS Type --</option>
                        @foreach (var value in Enum.GetValues<OStype>())
                        {
                            <option value="@value">@value</option>
                        }
                    </InputSelect>
                </div>
            </div>

            <div class="form-group row p-1">
                <div class="col-6">
                    <label for="Comment">Adapter Brand</label>
                </div>
                <div class="col-6">
                    <InputText @bind-Value="mbPartsVM.mb.AdapterBrand" class="form-control"></InputText>
                    <ValidationMessage For="@(() => mbPartsVM.mb.AdapterBrand)" />
                </div>
            </div>
            <div class="form-group row p-1">
                <div class="col-6">
                    <label for="Comment">Adapter Wattage</label>
                </div>
                <div class="col-6">
                    <InputText @bind-Value="mbPartsVM.mb.AdapterWattage" class="form-control"></InputText>
                    <ValidationMessage For="@(() => mbPartsVM.mb.AdapterWattage)" />
                </div>
            </div>
            <div class="form-group row p-1">
                <div class="col-6">
                    <label for="Comment">Adapter P/N</label>
                </div>
                <div class="col-6">
                    <InputText @bind-Value="mbPartsVM.mb.AdapterPN" class="form-control"></InputText>
                    <ValidationMessage For="@(() => mbPartsVM.mb.AdapterPN)" />
                </div>
            </div>
            <div class="form-group row p-1">
                <div class="col-6">
                    <label for="Comment">Power Adapter Type Thru</label>
                </div>
                <div class="col-6">
                    <InputText @bind-Value="mbPartsVM.mb.PowerAdapterType" class="form-control"></InputText>
                    <ValidationMessage For="@(() => mbPartsVM.mb.PowerAdapterType)" />
                </div>
            </div>
            <div class="form-group row p-1">
                <div class="col-6">
                    <label for="Comment"></label>
                </div>
                <div class="col-6">
                    <InputText @bind-Value="mbPartsVM.mb.Video" class="form-control"></InputText>
                    <ValidationMessage For="@(() => mbPartsVM.mb.Video)" />
                </div>
            </div>
            <div class="form-group row p-1">
                <div class="col-6">
                    <label for="Comment">Repair Info</label>
                </div>
                <div class="col-6">
                    <InputTextArea @bind-Value="mbPartsVM.mb.RepairInfo" class="form-control"></InputTextArea>
                    <ValidationMessage For="@(() => mbPartsVM.mb.RepairInfo)" />
                </div>
            </div>
            <div class="form-group row p-1">
                <div class="col-6">
                    <label for="CreateT">Date Added</label>
                </div>
                <div class="col-6">
                    <InputDate @bind-Value="mbPartsVM.mb.DateAdded" class="form-control"></InputDate>
                    <ValidationMessage For="@(() => mbPartsVM.mb.DateAdded)" />
                </div>
            </div>
            <div class="form-group row p-1">
                <div class="col-6">
                    <label for="CreateT">User Added</label>
                </div>
            </div>


        </div>
        <div class="col-3 offset-1">
            <div class="form-group row p-1">
                <div class="row">
                    <label for="parts" style="font-weight:bold">Parts IDs</label>
                </div>
                <div class="row">
                    <InputSelect @bind-Value="mbPartsVM.strPartsPNs" class="form-select" id="author" size="@partsSize">
                        <option value="" disabled="disabled">-- Select Parts --</option>
                        @foreach (var value in arrPartsPNs)
                        {
                            <option value="@value">@value</option>
                        }
                    </InputSelect>
                </div>
            </div>
        </div>
    </div>

    <br />

    <button class="btn btn-primary" type="submit">
        <span class="oi oi-pencil"></span>
        Create Matherbord
    </button>
    <button @onclick="BackToList" class="btn btn-outline-secondary">
        <span class="oi oi-media-skip-backward"></span>
        Back To List
    </button>

</EditForm>
@*@if (mbPartsVM.strVideoSrcLocated.Length > 0)
{
    <div style="display:none">@string.Join(", ", mbPartsVM.strVideoSrcLocated)</div>
}*@

@code {
    private MbPartsVM mbPartsVM { get; set; }
    private int partsSize { get; set; }
    string[] arrPartsPNs { get; set; }
    /*private string[] tmp { get; set; } = [];
    private Parts[] parts { get; set; } 
    private Mb Mb = new() { DateAdded = DateTime.Today };*/

    protected override async Task OnInitializedAsync()
    {
        List<Parts> PartsList = await PartsService.Get();
        partsSize = (PartsList.Count + 1) < 30 ? (PartsList.Count + 1) : 30;
        List<string> PartsPNs = [];
        foreach (Parts p in PartsList) PartsPNs.Add(p.PN);
        arrPartsPNs = PartsPNs.ToArray();
        mbPartsVM = new MbPartsVM();
    }

    private async Task HandleMbCreate()
    {
        mbPartsVM.mb.VideoSrcLocated = JsonConvert.SerializeObject(mbPartsVM.strVideoSrcLocated);
        BackToList();
        var response = await MbService.Create(mbPartsVM.mb);
        if (response.Success)
        {
            BackToList();
        }
    }
    private void BackToList()
    {
        navManager.NavigateTo("/mb/");
    }
}
