@page "/mb/details/{id:int}"
@inject IMbService MbService
@inject IPartsService PartsService
@inject IMb2PartsService Mb2PartsService
@inject IJSRuntime js
@inject NavigationManager navManager
@rendermode InteractiveServer
<PageTitle>Details</PageTitle>

    <h3>Matherboard</h3>
    <EditForm Model="Mb">
        <fieldset disabled="true">

            <div class="row">
                <div class="col-4">
                    <div class="form-group row p-1">
                        <div class="col-6">
                            <label for="Comment">Brand</label>
                        </div>
                        <div class="col-6">
                            <InputText @bind-Value="Mb.Brand" class="form-control"></InputText>
                            <ValidationMessage For="@(() => Mb.Brand)" />
                        </div>
                    </div>
                    <div class="form-group row p-1">
                        <div class="col-6">
                            <label for="Comment">Part Number</label>
                        </div>
                        <div class="col-6">
                            <InputText @bind-Value="Mb.PN" class="form-control"></InputText>
                            <ValidationMessage For="@(() => Mb.PN)" />
                        </div>
                    </div>
                    <div class="form-group row p-1">
                        <div class="col-6">
                            <label for="Comment">Compatible Part Number</label>
                        </div>
                        <div class="col-6">
                            <InputText @bind-Value="Mb.CompatiblePN" class="form-control"></InputText>
                            <ValidationMessage For="@(() => Mb.CompatiblePN)" />
                        </div>
                    </div>
                    <div class="form-group row p-1">
                        <div class="col-6">
                            <label for="Comment">Parts for test</label>
                        </div>
                        <div class="col-6">
                            <InputText @bind-Value="Mb.Parts4test" class="form-control"></InputText>
                            <ValidationMessage For="@(() => Mb.Parts4test)" />
                        </div>
                    </div>
                    <div class="form-group row p-1">
                        <div class="col-6">
                            <label for="mb.How2start">How does it start</label>
                        </div>
                        <div class="col-6">
                            <InputText @bind-Value="Mb.How2start" class="form-control"></InputText>
                            <ValidationMessage For="@(() => Mb.How2start)" />
                        </div>
                    </div>
                    <div class="form-group row p-1">
                        <div class="col-6">
                            <label for="Comment">RAM type</label>
                        </div>
                        <div class="col-6">
                            <InputText @bind-Value="Mb.RAMtype" class="form-control"></InputText>
                            <ValidationMessage For="@(() => Mb.RAMtype)" />
                        </div>
                    </div>
                    <div class="form-group row p-1">
                        <div class="col-6">
                            <label for="Comment">RAM speed</label>
                        </div>
                        <div class="col-6">
                            <InputNumber @bind-Value="Mb.RAMspeed" class="form-control"></InputNumber>
                            <ValidationMessage For="@(() => Mb.RAMspeed)" />
                        </div>
                    </div>
                    <div class="form-group row p-1">
                        <div class="col-6">
                            <label for="Comment">RAM slots</label>
                        </div>
                        <div class="col-6">
                            <InputText @bind-Value="Mb.RAMslot" class="form-control"></InputText>
                            <ValidationMessage For="@(() => Mb.RAMslot)" />
                        </div>
                    </div>

                    <div class="form-group row p-1">
                        <div class="col-6">
                            <label for="Comment">Builtin SSD</label>
                        </div>
                        <div class="col-6">
                            <InputCheckbox @bind-Value="@Mb.BuiltinSSD"></InputCheckbox>
                        </div>
                    </div>
                    <div class="form-group row p-1">
                        <div class="col-6">
                            <label for="Comment">Post</label>
                        </div>
                        <div class="col-6">
                            <InputCheckbox @bind-Value="@Mb.Post"></InputCheckbox>
                        </div>
                    </div>
                    <div class="form-group row p-1">
                        <div class="col-6">
                            <label for="Comment">Video</label>
                        </div>
                        <div class="col-6">
                            <InputText @bind-Value="Mb.Video" class="form-control"></InputText>
                            <ValidationMessage For="@(() => Mb.Video)" />
                        </div>
                    </div>
                    <div class="form-group row p-1">
                        <div class="col-6">
                            <label for="Comment">Video Info</label>
                        </div>
                        <div class="col-6">
                            <InputText @bind-Value="Mb.VideoInfo" class="form-control"></InputText>
                            <ValidationMessage For="@(() => Mb.VideoInfo)" />
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group row p-1">
                        <div class="col-6">
                            <label for="Comment">Video source located</label>
                        </div>
                        <div class="col-6">
                            <InputText @bind-Value="Mb.VideoSrcLocated" class="form-control"></InputText>
                        </div>
                    </div>
                    <div class="form-group row p-1">
                        <div class="col-6">
                            <label for="Tester_time">OS</label>
                        </div>
                        <div class="col-6">
                            <div>@Enum.GetName(typeof(OStype), Mb.OS)</div>
                        </div>
                    </div>

                    <div class="form-group row p-1">
                        <div class="col-6">
                            <label for="Comment">Adapter Brand</label>
                        </div>
                        <div class="col-6">
                            <InputText @bind-Value="Mb.AdapterBrand" class="form-control"></InputText>
                            <ValidationMessage For="@(() => Mb.AdapterBrand)" />
                        </div>
                    </div>
                    <div class="form-group row p-1">
                        <div class="col-6">
                            <label for="Comment">Adapter Wattage</label>
                        </div>
                        <div class="col-6">
                            <InputText @bind-Value="Mb.AdapterWattage" class="form-control"></InputText>
                            <ValidationMessage For="@(() => Mb.AdapterWattage)" />
                        </div>
                    </div>
                    <div class="form-group row p-1">
                        <div class="col-6">
                            <label for="Comment">Adapter P/N</label>
                        </div>
                        <div class="col-6">
                            <InputText @bind-Value="Mb.AdapterPN" class="form-control"></InputText>
                            <ValidationMessage For="@(() => Mb.AdapterPN)" />
                        </div>
                    </div>
                    <div class="form-group row p-1">
                        <div class="col-6">
                            <label for="Comment">Power Adapter Type Thru</label>
                        </div>
                        <div class="col-6">
                            <InputText @bind-Value="Mb.PowerAdapterType" class="form-control"></InputText>
                            <ValidationMessage For="@(() => Mb.PowerAdapterType)" />
                        </div>
                    </div>
                    <div class="form-group row p-1">
                        <div class="col-6">
                            <label for="Comment">Repair Info</label>
                        </div>
                        <div class="col-6">
                            <InputTextArea @bind-Value="Mb.RepairInfo" class="form-control"></InputTextArea>
                            <ValidationMessage For="@(() => Mb.RepairInfo)" />
                        </div>
                    </div>
                    <div class="form-group row p-1">
                        <div class="col-6">
                            <label for="CreateT">Date Added</label>
                        </div>
                        <div class="col-6">
                            <InputDate @bind-Value="Mb.DateAdded" class="form-control"></InputDate>
                            <ValidationMessage For="@(() => Mb.DateAdded)" />
                        </div>
                    </div>
                    <div class="form-group row p-1">
                        <div class="col-6">
                            <label for="CreateT">User Added</label>
                        </div>
                    </div>


                </div>
                @if (PartsList != null && PartsList.Count>0)
                {
                    <div class="col-3 offset-1">
                        <div class="form-group row p-1">
                            <div class="row">
                                <label for="parts" style="font-weight:bold">Parts IDs</label>
                            </div>
                            @foreach (Parts item in PartsList)
                            {
                                <div class="row">
                                    <label>@item.PN</label>
                                </div>
                            }
                        </div>
                    </div>
                }

            </div>
        </fieldset>

        <br />

        <button class="btn btn-primary" type="submit">
            <span class="oi oi-pencil"></span>
            Update Matherbord
        </button>
        <button @onclick="BackToList" class="btn btn-outline-secondary">
            <span class="oi oi-media-skip-backward"></span>
            Back To List
        </button>
    </EditForm>

@code {
    [Parameter]
    public int id { get; set; }
    private Mb Mb = new Mb();
    List<Parts> PartsList { get; set; } = new();
    //List<Mb2Parts> Mb2PartsList { get; set; }
    protected async override Task OnInitializedAsync()
    {
        var responses = await MbService.Get(id);
        if (responses.Success)
        {
            Mb = responses.Data;
            List<Parts> PartsList0 = await PartsService.Get();
            List<Mb2Parts> Mb2PartsList = await Mb2PartsService.Get();
            foreach (Mb2Parts item in Mb2PartsList)
            {
                PartsList.Add(PartsList0[item.PartsId]);
            }
        }
    }
    private void GoToEdit()
    {
        navManager.NavigateTo($"/mb/update/{Mb.Id}");
    }
    private void BackToList()
    {
        navManager.NavigateTo("/mb/");
    }
}
